body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('https://image.freepik.com/free-photo/3d-illustration-copy-space-banner-group-virus-cells-coronavirus-2019-outbreak-covid19-wuhan-china-virus-disease-infection-red-background-self-quarantine-coronavirus-outbreak-concept_33829-290.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.row {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 18rem;
    height: 6rem;
}

.square {
    width: 6rem;
    height: 6rem;
    border: 3px solid #000;
}

.mole {
    background-image: url('https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2020/02/02/nm-wuhanvirus-0202.jpg?itok=chk79Ail&timestamp=1580601417');
    background-size: 91%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn {
    background-color: #fff;
    font-family: inherit;
    border: 0;
    font-size: 1.5rem;
    padding: 12px 20px;
    margin: 12px auto 20px auto;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.btn.playing {
    cursor: not-allowed;
}